@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@200&display=swap');

#solutions h2{
    margin: 40px 40px 50px 30px;
    font-size: 75px;
    width: 50%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#solutions h3{
    margin: 30px 10px 20px 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#solutions ul{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

#solutions p{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

#solutions ul li{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}