<div class="container-fluid">
  <div class="row">
    <div class="col-8 mt-3">
      <div class="card">
        <h5 class="card-header">Comentarios</h5>
        <div class="list-group">
          <a class="list-group-item list-group-item-action" aria-current="true"
            *ngFor="let task of tasks"
            (click)="selectTask(task)"
            [ngClass]="{'active': selectedTask === task}"
          >
            <p class="">{{task.name}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mt-3">
      <div class="card">
        <h5 class="card-header">Escribe un comentario</h5>
        <div class="card-body">
          <input [(ngModel)]="taskName" class="my-2" type="text">
          <!--<p class="text-muted">{{taskName}}</p>-->
      
      
          <div class="d-grid gap-2">
            <a (click)="addTask(taskName)" class="btn btn-success">Publicar</a>
            <a (click)="modifiedTask(taskName)" class="btn btn-warning">Editar</a>
            <a (click)="deleteTask()" class="btn btn-danger">Eliminar</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>