<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Comunidad</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                 <img src="https://www.pngmart.com/files/8/Amazon-PNG-Pic.png" class="rounded float-start" alt="sustainability" style="width: 100%;">
            </div>
            <div class="col-9">
                <p class="text-start">Desde la reducción del uso de agua en los centros de datos hasta el uso de combustible de aviación sostenible, 
                    Amazon se compromete a construir un negocio sostenible para los clientes, las comunidades y el mundo.
                    Además, Amazon se asocia regularmente con otras empresas líderes como P&G para ayudarlas a redescubrir y diseñar 
                    estrategias de empaque y entrega más sostenibles para atender a sus clientes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://aeinoticias.com/media/img/news_banner/2020-12/logo.jpg" class="rounded float-start" alt="sustainability" style="width: 80%;">
            </div>
            <div class="col-9">
                <p class="text-start">Aunque no siempre ha sido una de las principales empresas ecológicas, últimamente Apple ha tomado medidas 
                    adicionales para demostrar que se preocupa por el medio ambiente.
                    Por ejemplo, el iPhone 11 está disponible en varios materiales, incluido aluminio 100 % reciclado. Además, Apple 
                    también usa varios componentes reciclados dentro de los elementos internos del teléfono. Al mismo tiempo, Apple 
                    también está tomando medidas adicionales para promover su esquema de intercambio, que permite a los propietarios 
                    de iPhones existentes cambiar su modelo anterior por uno nuevo.
                    El esquema de intercambio brinda a las personas acceso a dinero extra para su nuevo teléfono para que los 
                    consumidores no solo almacenen productos viejos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://images.squarespace-cdn.com/content/v1/5c3a4bd3b27e39b123503621/1581008108583-8BAZZVUK493924HZ0NKS/Beyong+Meat+Logo.jpg" class="rounded float-end" alt="sustainability" style="width: 100%;">
            </div>
            <div class="col-9">
                <p class="text-start">Uno de los mayores factores que contribuyen al cambio climático es la industria de la carne.
                    Por lo que, Beyond Meat es una empresa que está revolucionando la industria alimentaria al brindar a las personas 
                    acceso a deliciosos productos a base de plantas que se sienten y saben similares a la carne.
                    La compañía también se asocia con otras marcas ecológicas como Subway y Dunkin' Donuts para llevar más productos a
                    los consumidores.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://logos-download.com/wp-content/uploads/2016/05/Lush_logo_black.png" class="rounded float-start" alt="sustainability" style="width: 90%;">
            </div>
            <div class="col-9">
                <p class="text-start">Este negocio se compromete a mostrar a los clientes que pueden obtener el mismo cuidado corporal, facial y capilar 
                    de alta calidad con ingredientes totalmente naturales, sin pruebas en animales ni productos químicos peligrosos.                    
                   Lush se dedica a ofrecer productos y prácticas ecológicas a su comunidad, desde barras de champú sólidas que no 
                   requieren una botella hasta envases reutilizables que sus clientes pueden traer para ganar recompensas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://www.asicentral.com/media/35142/patagonia-logo-720.jpg" class="rounded float-start" alt="sustainability" style="width: 80%;">
            </div>
            <div class="col-9">
                <p class="text-start">Esta marca de ropa "outdoor" busca constantemente las maneras más ecoamigables de producción mientras que expone 
                    transparentemente al público sus procesos de producción.
                    Además, Patagonia otorga el 1% de sus ventas a Earth Tax, que apoya a organizaciones ecológicas de todo el 
                    mundo para restaurar bosques, derribar represas y proteger especies en peligro de extinción.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://alexanders.com/wp-content/uploads/2019/02/toms.jpg" class="rounded float-start" alt="sustainability" style="width: 90%;">
            </div>
            <div class="col-9">
                <p class="text-start">La empresa fundada por Blake Mycoskie debe su eslogan "One for one" -uno por uno- a su organización, 
                    con fines de lucro, que promete donar un par de zapatos a las comunidades necesitadas cada vez que un cliente compre un 
                    par. Además de eso, TOMS también ofrece agua potable limpia, servicios oftalmológicos, kits de parto seguro y más a 
                    comunidades de todo el mundo.
                </p>
            </div>
        </div>
    </div>

    <footer><span> 
        <a class="nav-link"
          [routerLink]="['/contact']"
        >¿Quieres saber más?</a>
      </span></footer>
</body>
</html>